//
//  @author:  Werner Faaij <werner_faaij@hotmail.com
//  @url:     wernerfaaij.nl
//  ---------------------------------------------

//
//  Colors:
//  ---------------------------------------------

$color__black: #000000;
$color__white: #FFFFFF;
$color__yellow_husk: #B3A550;

