//
//  @author:  Werner Faaij <werner_faaij@hotmail.com
//  @url:     wernerfaaij.nl
//  ---------------------------------

//
//  Table
//  ---------------------------------

.table {
    @include display__flex();
    background-color: rgba(255, 255, 255, .5);
    border: 1px solid $color__yellow_husk;
    padding: $indent__xs 0;

    > div {
        @include columns($_span: 6);
    }
}